html, body 
  height: 100%
  margin: 0

.container 
  width: 920px
  margin: auto
  text-align: center
  min-height: 100%
  margin-bottom: -50px

footer, .push
  height: 50px
  line-height: 50px
  text-align: center
  font-weight: 400
  font-size: 10px

.ion-social-github
  color: gray
  display: block
  font-size: 50px
  margin-top: 10px
  transition: color 0.3s

.ion-social-github:hover
  color: black
