<html>
  <head>
    <title>Zapsnap * 404 - Not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/reset.css" rel="stylesheet"></link>
    <link href="/public/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class='container'>
      <div class='push'></div>
      404 - Not found
      <div class='push'></div>
    </div>
    <footer>
      Two Bucks © 2016
    </footer>
  </body>
</html>
