<html>
  <head>
    <title>404 - Not found</title>
    <link href="/public/reset.css" rel="stylesheet"></link>
    <link href="/public/main.css" rel="stylesheet"></link>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class='container'>
      <div class='push'></div>
      404
      <div class='push'></div>
    </div>
    <footer>
      Two Bucks © 2016
    </footer>
  </body>
</html>
