<html>
  <head>
    <title>Seedshot</title>
    <link href="/public/reset.css" rel="stylesheet"></link>
    <link href="/public/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class='container'>
      <div class='push'></div>
      {{#if infoHash}}
        <img id="img2" data-info-hash="{{infoHash}}"/>
      {{else}}
        <img id="img" src="data:image/jpeg;base64,{{base64}}"/>
      {{/if}}
      <p class='status'></p>
      <div class='push'></div>
    </div>

    <footer>
      Two Bucks © 2016
    </footer>

  </body>
  <script type='text/javascript' src="/public/bundle.js"></script>
</html>
