<html>
  <head>
    <title>Seedshot</title>
  </head>
  <body>
    <img id="img2" src=""/>
    <img id="img" src="data:image/jpeg;base64,{{base64}}"/>
  </body>
  <script type='text/javascript' src="/bundle.js"></script>
</html>
