<html>
  <head>
    <title>Seedshot</title>
    <link href="/public/reset.css" rel="stylesheet"></link>
    <link href="/public/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class='container'>
      <header>
      <h1>Seedshot</h1>
      </header>

      <p>Peer to peer screenshot sharing from your browser.</p>

      <code>
        npm install -g seedshot-cli<br/>
        seedshot
      </code>
    </div>
    <footer>
      Two Bucks © 2016
    </footer>
  </body>
</html>
