<html>
  <head>
    <title>Seedshot</title>
  </head>
  <body>
    <h1>Seedshot</h1>

    <p>Ephemeral P2P screenshot sharing.</p>

    <h2>Instructions</h2>
    <code>
      npm install -g seedshot-cli<br/>
      seedshot
    </code>
  </body>
</html>
