<html>
<head>
  <title>Zapsnap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/reset.css" rel="stylesheet"></link>
  <link href="/public/main.css" rel="stylesheet"></link>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102563657-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="container">
    <h1 id="header" class="closedCircuit">
      <span>Zapsnap</span>
      <div class="wrapper">
        <svg id="letter-3" width="66" height="83" viewBox="0 0 66 83" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.12 2.863C4.12 1.11 5 .23 6.753.23h56.343C64.6.23 65.35.698 65.35 1.63c0 .215-.035.465-.106.752-.466 1.36-.878 2.417-1.236 3.17L39.033 57.755c-.466.967-.287 1.45.537 1.45 1.826.036 5.12.036 9.883 0h9.882c1.075 0 1.862.26 2.364.78.5.518.75 1.315.75 2.39v17.992c0 1.755-.877 2.632-2.63 2.632H2.94c-1.433 0-2.15-.483-2.15-1.45 0-1.04.305-2.15.914-3.33l24.868-50.274c.286-.608.43-1.11.43-1.504 0-.787-.538-1.18-1.612-1.18H6.752c-1.754 0-2.63-1.04-2.63-3.116V2.863z" fill="none" fill-rule="evenodd"/>
        </svg>
        <svg id="letter-2" width="91" height="84" viewBox="0 0 91 84" xmlns="http://www.w3.org/2000/svg">
          <path d="M51.983 4.4L90.6 80.777c.252.502.377.93.377 1.29 0 1.217-1.27 1.826-3.813 1.826h-16.65c-1.934 0-3.152-.108-3.653-.323-.644-.322-1.378-1.235-2.2-2.74-1.22-2.255-3.206-3.347-5.963-3.275-5.085.107-9.597.125-13.535.053-4.476-.035-8.952-.053-13.428-.053-2.47 0-4.19 1.038-5.156 3.115-.752 1.61-1.397 2.57-1.934 2.873-.537.305-1.755.457-3.652.457l-8.54-.054c-1.862 0-4.69-.018-8.487-.053-2.578 0-3.867-.627-3.867-1.88 0-.43.143-.93.43-1.504L38.93 4.4C40.33 1.643 42.495.265 45.43.265c2.972 0 5.156 1.378 6.553 4.135zm-2.578 46.944c-.645-1.29-1.594-3.205-2.847-5.747-.394-.43-.77-.645-1.128-.645-.394 0-.77.233-1.128.698-.716 1.325-1.7 3.277-2.954 5.855-.43 1.002-.143 1.575.86 1.72h6.552c.537 0 .806-.27.806-.807.036-.466-.018-.824-.16-1.074z" fill="none" fill-rule="evenodd"/>
        </svg>
        <svg id="letter-1" width="69" height="84" viewBox="0 0 69 84" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.42 25.724h-.698c-1.755 0-2.65.823-2.686 2.47v6.822c0 1.647.788 2.47 2.363 2.47h1.02c3.975 0 7.215-.43 9.722-1.29 2.148-.75 3.222-2.362 3.222-4.833 0-2.47-1.074-4.082-3.222-4.834-1.648-.538-4.888-.806-9.722-.806zM2.92.854L38.154.642c8.88-.07 16.167 2.66 21.86 8.192 5.694 5.532 8.54 12.738 8.54 21.618 0 8.81-2.855 15.97-8.566 21.485-5.71 5.514-12.99 8.27-21.834 8.27h-8.808c-1.647 0-2.47.77-2.47 2.31V81.37c0 1.755-.878 2.632-2.633 2.632H3.135C1.38 84 .503 83.123.503 81.368V3.488C.503 1.732 1.31.854 2.92.854z" fill="none" fill-rule="evenodd"/>
        </svg>
        <svg id="highVoltage" width="71" height="117" viewBox="0 0 71 117" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 117c4.015-16.604 8.437-32.755 13-49H0C17.74 44.382 34.744 22.19 52 0c.067.13.384.258 1 0-4.154 16.56-8.01 32.732-12 49h30c-18.336 23.504-35.95 45.752-54 68 .153-.15-.128-.3 0 0" fill="#231F20" fill-rule="evenodd"/>
        </svg>
        <svg id="letter-1" width="70" height="84" viewBox="0 0 70 84" xmlns="http://www.w3.org/2000/svg">
          <path d="M60.986 43.126c5.515 4.476 8.272 9.847 8.272 16.113 0 7.734-3.92 13.964-11.763 18.69C50.763 81.978 43.28 84 35.045 84c-5.873 0-11.406-1.02-16.598-3.062-5.836-2.327-10.312-5.62-13.427-9.882-.573-.788-.663-1.558-.27-2.31.395-.68.95-1.2 1.666-1.558l18.477-8.7c1.002-.466 2.56-.305 4.672.483 2.58 1.003 4.387 1.505 5.425 1.505 1.683 0 3.294-.305 4.834-.913 2.005-.824 3.008-1.952 3.008-3.384 0-2.793-2.596-4.154-7.788-4.082-3.26.036-6.392-.233-9.4-.806-6.302-1.217-11.816-3.94-16.542-8.164C3.622 38.256.884 32.688.884 26.422c0-7.914 3.85-14.323 11.548-19.23C19.092 2.897 26.63.75 35.044.75c6.553 0 12.676 1.325 18.37 3.975C59.893 7.766 64.423 11.956 67 17.29c.286.574.43 1.11.43 1.612 0 1.146-.806 1.916-2.417 2.31L45.57 28.355c-1.43.538-2.398.61-2.9.215-.357-.25-.912-.644-1.664-1.18-1.468-1.04-3.473-1.56-6.016-1.56-1.647 0-3.24.305-4.78.914-2.005.824-3.008 1.934-3.008 3.33 0 1.433 1.003 2.543 3.008 3.33 1.468.61 3.06.913 4.78.913 4.01.036 8.558.896 13.643 2.58 5.264 1.717 9.38 3.794 12.353 6.23z" fill="none" fill-rule="evenodd"/>
        </svg>
        <svg id="letter-2" width="62" height="85" viewBox="0 0 62 85" xmlns="http://www.w3.org/2000/svg">
          <path d="M59.245.802c1.754 0 2.63.877 2.63 2.632V82.12c0 1.54-.5 2.31-1.502 2.31-.215 0-.448-.036-.7-.108-1.43-.394-2.47-.805-3.114-1.235L28.306 64.933c-.967-.61-1.45-.43-1.45.537v15.36c0 2.078-1.074 3.116-3.223 3.116H2.902c-1.79 0-2.686-.877-2.686-2.632V3.004c0-1.647.68-2.363 2.04-2.15 1.398.252 2.33.54 2.794.86L32.604 20.46c.68.465 1.217.698 1.61.698.717 0 1.076-.644 1.076-1.933V3.435C35.29 1.606 36.328.73 38.405.8c3.867.107 7.34.125 10.42.053C52.298.82 55.77.802 59.245.802z" fill="none" fill-rule="evenodd"/>
        </svg>
        <svg id="letter-3" width="91" height="84" viewBox="0 0 91 84" xmlns="http://www.w3.org/2000/svg">
          <path d="M51.983 4.4L90.6 80.777c.252.502.377.93.377 1.29 0 1.217-1.27 1.826-3.813 1.826h-16.65c-1.934 0-3.152-.108-3.653-.323-.644-.322-1.378-1.235-2.2-2.74-1.22-2.255-3.206-3.347-5.963-3.275-5.085.107-9.597.125-13.535.053-4.476-.035-8.952-.053-13.428-.053-2.47 0-4.19 1.038-5.156 3.115-.752 1.61-1.397 2.57-1.934 2.873-.537.305-1.755.457-3.652.457l-8.54-.054c-1.862 0-4.69-.018-8.487-.053-2.578 0-3.867-.627-3.867-1.88 0-.43.143-.93.43-1.504L38.93 4.4C40.33 1.643 42.495.265 45.43.265c2.972 0 5.156 1.378 6.553 4.135zm-2.578 46.944c-.645-1.29-1.594-3.205-2.847-5.747-.394-.43-.77-.645-1.128-.645-.394 0-.77.233-1.128.698-.716 1.325-1.7 3.277-2.954 5.855-.43 1.002-.143 1.575.86 1.72h6.552c.537 0 .806-.27.806-.807.036-.466-.018-.824-.16-1.074z" fill="none" fill-rule="evenodd"/>
        </svg>
        <svg id="letter-4" width="69" height="84" viewBox="0 0 69 84" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.42 25.724h-.698c-1.755 0-2.65.823-2.686 2.47v6.822c0 1.647.788 2.47 2.363 2.47h1.02c3.975 0 7.215-.43 9.722-1.29 2.148-.75 3.222-2.362 3.222-4.833 0-2.47-1.074-4.082-3.222-4.834-1.648-.538-4.888-.806-9.722-.806zM2.92.854L38.154.642c8.88-.07 16.167 2.66 21.86 8.192 5.694 5.532 8.54 12.738 8.54 21.618 0 8.81-2.855 15.97-8.566 21.485-5.71 5.514-12.99 8.27-21.834 8.27h-8.808c-1.647 0-2.47.77-2.47 2.31V81.37c0 1.755-.878 2.632-2.633 2.632H3.135C1.38 84 .503 83.123.503 81.368V3.488C.503 1.732 1.31.854 2.92.854z" fill="none" fill-rule="evenodd"/>
        </svg>
      </div>
    </h1>

    <h2>Temporary peer to peer screenshot sharing from your browser</h2>

    <div class='button-wrapper'>

      <div class='col-sm-4'>
        <a href='/public/downloads/Zapsnap-1.0.1.dmg' class='button'>
          Download for MacOS
        </a>
        <p>Linux and Windows coming soon</p>
      </div>

    </div>

    <div class="faq">
      <h2>FAQ</h2>

      <h3>What do you mean by "temporary"?</h3>
      <p>
        The images are being shared with other people as long as you keep
        your browser open. Once you close it, the sharing depends on other
        available peers, so the sharing stops once all the browsers are closed.
      </p>

      <h3>Which browsers are supported?</h3>
      <p>
        We depend on <a href="https://webtorrent.io">Webtorrent</a> for browser support. That means we support Chrome, Firefox and Opera.
      </p>

      <h3>What's the pricing model?</h3>
      <p>
        It's completely free and open source and the source code is hosted on <a href="https://github.com/twobucks/snapzap">Github</a>.
      </p>

      <h3>How do you afford this?</h3>
      <p>
        We reduce hosting costs by being peer to peer, so the only
        expense we have is hosting this server on <a href="https://m.do.co/c/53443586d900">Digital Ocean</a>, which
        costs $10/mo.
      </p>

    </div>

    <footer>
      <a href="https://twobucks.co">Two Bucks</a> © 2017
    </footer>
  </div>

  <script>
  (function() {
    setTimeout(function(){ document.getElementById("header").classList.remove("closedCircuit"); }, 100);
  })();
  </script>
</body>
</html>
