<html>
  <head>
    <title>Seedshot</title>
    <link href="/public/reset.css" rel="stylesheet"></link>
    <link href="/public/main.css" rel="stylesheet"></link>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class='container'>
      <header>
      <h1>Seedshot</h1>
      </header>

      <p>Peer to peer screenshot sharing from your browser.</p>
      <hr />

      <p>1. install the CLI</p>
      <code>
        npm install -g seedshot-cli<br/>
      </code>

      <p>2. Take the screenshot</p>
      <code>
        seedshot
      </code>
      <p>3. Seed it from your browser</p>
      <img src='/public/recording.gif' alt='' />
        <a href='http://github.com/twobucks/seedshot'>
          <i class="ion-social-github"></i>
        </a>
    </div>
    <footer>
      Two Bucks © 2016
    </footer>
  </body>
</html>
