<html>
  <head>
    <title>Seedshot</title>
  </head>
  <body>
    <h1>Seedshot</h1>

    <p>Ephemeral P2P screenshot sharing.</p>

    <h2>Instructions</h2>
    <code>
      npm install -g seedshot-cli<br/>
      seedshot
    </code>
    <h2>License</h2>

    MIT

    <h2>Sponsors</h2>

    <p> Two Bucks Ltd © 2016 </p>

    <a href="https://twobucks.co">
      <img src="https://twobucks.co/assets/images/logo-small.png" />
    </a>
  </body>
</html>
